
* , body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.heroContainer {
    height: max-content;
    padding-bottom: 20px;
    background: #fef9f4;
    height: 90vh;  
}
.chefHero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-weight: 2000;
    font-size: 1.2rem;
    color: #111111;
    height: 100vh;
    background-image: url("./assets/ingrBackground.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.chefHero header{
    font-size: 4rem;
    color: #a18247;
    font-family:'Courier New', Courier, monospace;
    line-height: 5rem;
    padding: 60px;
    font-weight: 500;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    
}

.word2::before {
    color: transparent;
    content: "_";
    height: 5px;
}
.heroRight {
    display: flex;
    flex-direction: column;  
    width: 100%;  
    max-width: 500px ; 
}
.heroRight p {
    font-size: 0.8rem;
    color: #d2691e;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(254, 254, 255, 0.973);
    max-width:700px ;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.input {
    height: 30px;
    background-color: #0E0E12;
    padding: 0.75rem;
    border-radius: 8px;
    border: none;
    outline: none;
}
button {
    height: 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0 0.5rem;
    background: linear-gradient(135deg, #f7b733, #fc4a1a);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

.fakeFooter {
    position: absolute;
    top: 92%;
    left: 0; 
    width: 100%;     
    color: #fef9f4;
    
    font-size: 0.55rem;
    font-weight: 300;
    text-align: center;
}

.fakeFooter svg {  
    font-size: 1.3rem;
    color: #fef9f4;
    vertical-align: bottom;
    margin: 0 3px;
    cursor: pointer;
    color: #ddd;

    transition: transform 2s ease, color 2s ease;
}

.fakeFooter svg:hover {
    transform: scale(1.5);

}


.ingredientList {
    background: #fef9f4; 
    
    padding: 1rem;
    margin: 7rem auto 0;
    max-width: 600px;
    
    min-height: 250px;
}

.ingredientList header {
    opacity: 0.7;
    color: #7c4f29; 
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 900;
    text-decoration: underline;
    font-family: "Nunito" ,sans-serif;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5)
}
.list {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #d7b899; 
    border-radius: 12px;

    padding: 20px 20px;
    display: flex;    
    gap: 50px;
    width: 100%;
    max-height: 250px;
    flex-wrap: wrap;
    line-height: 0.01rem;  
    
}

.listItem {
    background: #f7e2d2; 
    padding: 0.4rem 0.8rem;
    border-radius: 20px;   
    border: 1px solid #e0c5a1;   
    color: #4a3221; 
    font-size: .8rem; 
    
}


.submitBtn {
    margin: 20px;
}
.chefLogo2 {
    height: 150px;
}
.chefLogo2 img{
    height: 150px;
    width: 150px;
    
}

.results{
    background: #fffaf5;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    border: 2px solid #c7a27c;
    border-radius: 12px;
    padding: 1.2rem;
    margin: 2rem auto 0;
    max-width: 1000px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5)
}
.results header {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 30px 0 0 30px;
    opacity: 0.7;
    color: #7c4f29;
}
.recipeTitle {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #d2691e;
    opacity: 0.7;
    margin: 0.5rem 0 1rem
}
ul, ol{
     padding-left: 1.2rem;
    line-height: 1.5;
    color: #6b3e1e;;
}
h4 {
    color: #6b3e1e; /* chocolate brown */
    margin-bottom: 0.4rem;
    
}
.instructions {
    padding: 30px 0;
    
}


@media (min-width: 420px){
    .chefHero header{
        font-size: 4.5rem;
        max-width: 350px;
    }
    .chefHero p{
        font-size: 0.8rem;
    }
}
@media (min-width: 768px){
    .chefHero header{
        font-size: 5rem;
    }
}
@media (min-width: 1024px){
    .results {
        padding-left: 80px;
    }
    .chefHero header{
        font-size: 7rem;
        padding: 10px;
        
    }
    .chefLogo2 {
        height: 400px;
    }
    .chefLogo2 img{
        height: 400px;
        width: 400px;
    
    }
    .word1 {
    background-color: rgba(254, 254, 255, 0.7);
    }
    
}
