:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg1:  #f7e2d2;
  --bg2: rgba(247, 226, 199, 0.87);
  --bg3: #fffaf5;
  --text1: #7c4f29;
  --text2: #4a3221;
  --text3: #d2691e;
}
